<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	This website is a work in progress by Arkkra using the awesome rails
	tutorial found on
	<a href="http://www.railstutorial.org" target='_blank'>the rails tutorial website!</a>
</p>
