<% provide(:title, 'Sign Up') %>

<h1>Sign Up</h1>
<p>Register to this website yo</p>

<div>
	<%#= form_for @usr, url: "/signup" do |f| %>
		<!--p>
			<%#= f.label :email, 'Email Address' %>
			<%#= f.email_field :email %>
		</p>
		<p>
			<%#= f.label :name %>
			<%#= f.text_field :name %>
		</p>
		
		<p>
			<%#= f.label :password %>
			<%#= f.password_field :password %>
		</p>
		<p>
			<%#= f.label :verify_password %>
			<%#= f.password_field :verify_password %>
		</p>
		<p>

			<%#= f.submit "Register", class: "btn btn-large btn-primary" %>
		</p-->
	<%# end %>

	<%#= params.inspect %>
	<%# User. do |u| %>
		<%#= puts u.name %>
		<%#= puts u.email %>
	<%# end %>
</div>


