<footer class="footer">
	<small>
		Visit my
		<%= link_to "Armory!", 'http://us.battle.net/wow/en/character/sargeras/Arkkra/simple' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",	about_path %></li>
			<li><%= link_to "Contact",	contact_path %></li>
			<li><a href="https://github.com/Arkkraa">News</a></li>
		</ul>
	</nav>
</footer>